.section3{

    background-image: url(../../img/section1.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}

.content_center{
    text-align: center;
}

.content_center h2{
    color: var(--color-white);
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 16px;
}
.content_center h1{
    color: var(--color-laranja);
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    padding-bottom: 72px;
}

.section3 .cards{

   display: flex;
   gap: 24px;
   padding-bottom: 42px;
}

.section3 .card{
     width: calc(100% / 4); 
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px 24px;
    gap: 24px;
    align-items: center;
    background: rgba(63, 54, 50, 0.15);
    border: 1px solid #FF4900;
    box-shadow: 2px 2px 10px #FF4900;
    border-radius: 8px;
}

.section3 .card h5{

    color: var(--color-white);
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}
.section3 .card p{
    color: var(--color-white);
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}