.section2{

    background-image: url(../../img/section2.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.section2 .paragrafo{
    color: var(--color-white);
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 40px;
}


.section2 h1{
    color: var(--color-laranja);
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    padding-bottom: 24px;
}

.section2 .infos{
    display: flex;
    align-items: center;
    gap: 12px;
}

.infos img{
    transform: translateY(-50%);
}

.conteudos{
    display: flex;
    flex-direction: column;
   
}





.infos .conteudo_texto {
    color: var(--color-white);
    font-weight: 700;
    font-size: 18px;
    
}

.infos .conteudo_titulo {
    color: var(--color-laranja);
    font-weight: 700;
    font-size: 18px;
}


@media(max-width:500px){
    .section2 .container{
        flex-direction: column-reverse;
    }
    .section2 h2{
        font-size: 16px ;
    }

    .section2 h1{
        font-size: 22px;
        line-height: 32px;
    }
    .infos .conteudo_texto{
        font-size: 16px;
    }
    .infos .conteudo_titulo{
        font-size: 16px;
    }
    .infos{
        align-items: center;
    }

}