@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.container{
    margin: 0 auto;
    max-width: 1216px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    margin: 0 auto;
    max-width: 1216px;
    width: 100%;
    display: flex;
    flex-direction: column;
   

}

.content_left{
    width: 50%;
    padding-right: 48px;
}

.content_right{
    width: 50%;
    padding-left: 48px;
    padding-right: 72px;
}

:root{

 --color-laranja:#FF4900;
 --color-white:#fff;
 
}

.section_total{
    padding: 99px 20px;
  
}

/* -------- ANIMAÇÃO DE ENTRADA CSS COM BIBLIOTECA INTERSECTION --------
--------- import { useInView } from 'react-intersection-observer'-------

-- EXEMPLO DE COMO DEVE SER COLOCADO NA DIV -------
const { ref: leftRef, inView: leftInView } = useInView({
    threshold: 0.5, // Ajuste a porcentagem de visibilidade necessária para ativar a animação
    triggerOnce: true // Garante que a animação só seja executada uma vez
  });

  const { ref: rightRef, inView: rightInView } = useInView({
    threshold: 0.5, // Ajuste a porcentagem de visibilidade necessária para ativar a animação
    triggerOnce: true // Garante que a animação só seja executada uma vez
  }); */




  /* @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }  */

  